<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="returnInstanceForEmptyRow" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="ArticleContentInfo"
                   type="com.app.community.domain.query.ArticleQuery$ArticleContentInfo"/>
        <typeAlias alias="ArticleAuthor" type="com.app.community.domain.query.ArticleQuery$ArticleAuthor"/>
        <typeAlias alias="ArticleKeywordInfo"
                   type="com.app.community.domain.query.ArticleQuery$ArticleKeywordInfo"/>

        <typeAlias alias="ArticleSummary" type="com.app.community.domain.query.ArticleQuery$ArticleSummary"/>
        <typeAlias alias="ArticleActivity" type="com.app.community.domain.query.ArticleQuery$ArticleActivity"/>
        <typeAlias alias="ArticleDetails" type="com.app.community.domain.query.ArticleQuery$ArticleDetails"/>

        <typeAlias alias="ChatSummary" type="com.app.community.domain.query.ChatQuery$ChatSummary"/>
        <typeAlias alias="ChatMessageInfo" type="com.app.community.domain.query.ChatQuery$ChatMessageInfo"/>
        <typeAlias alias="Participant" type="com.app.community.domain.query.ChatQuery$Participant"/>
        <typeAlias alias="ChatDateTimeInfo" type="com.app.community.domain.query.ChatQuery$ChatDateTimeInfo"/>

        <typeAlias alias="CommentDetails" type="com.app.community.domain.query.CommentQuery$CommentDetails"/>
        <typeAlias alias="ProfileComment" type="com.app.community.domain.query.CommentQuery$ProfileComment"/>
        <typeAlias alias="CommentAuthor" type="com.app.community.domain.query.CommentQuery$CommentAuthor"/>
    </typeAliases>

</configuration>


