<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.community.storage.db.query.ArticleMapper">

    <!-- 게시글 리스트 조회 -->
    <select id="findArticleList" resultMap="ArticleSummaryMap">
        SELECT
            a.id,
            a.title,
            a.body,
            a.type,
            a.created_at AS articleCreatedAt,
            a.updated_at AS articleUpdatedAt,
            a.view_cnt AS viewCount,
            a.comment_cnt AS commentCount,
            a.upvote_cnt AS upvoteCount,
            m.id AS writerId,
            m.nickname,
            m.profile_image_path AS profileImagePath,
            m.created_at AS memberCreatedAt,
            m.updated_at AS memberUpdatedAt,
            k.id AS keywordId,
            k.name AS keywordName
        FROM
            articles a
        LEFT JOIN members m ON a.writer_id = m.id
        LEFT JOIN article_keywords ak ON ak.article_id = a.id
        LEFT JOIN keywords k ON ak.keyword_id = k.id
        WHERE
            a.status = 'STEADY'
        <if test="cursor != -1 and cursor != null">
            AND a.id <![CDATA[<]]> #{cursor}
        </if>
        <if test="type != null">
            AND a.type = #{type}
        </if>
        ORDER BY a.id DESC
        LIMIT #{size}
    </select>

    <!-- 게시글 상세 조회 -->
    <select id="findArticleDetails" resultMap="ArticleDetailsMap">
        SELECT
            a.id,
            a.title,
            a.body,
            a.type,
            a.created_at AS articleCreatedAt,
            a.updated_at AS articleUpdatedAt,
            a.view_cnt AS viewCount,
            a.comment_cnt AS commentCount,
            a.upvote_cnt AS upvoteCount,
            m.id AS writerId,
            m.nickname,
            m.profile_image_path AS profileImagePath,
            m.created_at AS memberCreatedAt,
            m.updated_at AS memberUpdatedAt,
            k.id AS keywordId,
            k.name AS keywordName
        FROM
            articles a
        LEFT JOIN members m ON a.writer_id = m.id
        LEFT JOIN article_keywords ak ON ak.article_id = a.id
        LEFT JOIN keywords k ON ak.keyword_id = k.id
        WHERE
            a.id = #{articleId}
          AND a.status = 'STEADY'
    </select>

    <!-- 회원별 게시글 리스트 조회 -->
    <select id="findArticleListByMemberId" resultMap="ArticleActivityMap">
        SELECT
            a.id,
            a.title,
            a.body,
            a.type,
            a.created_at AS createdAt,
            a.updated_at AS updatedAt
        FROM
            articles a
        WHERE
            a.status = 'STEADY'
        AND a.writer_id = #{memberId}
        <if test="cursor != -1">
            AND a.id <![CDATA[<]]> #{cursor}
        </if>
        <if test="type != null">
            AND a.type = #{type}
        </if>
        ORDER BY a.id DESC
        LIMIT #{size}
    </select>

    <resultMap id="ArticleSummaryMap" type="ArticleSummary">
        <id column="id" property="id"/>

        <result column="type" property="type"/>

        <result column="articleCreatedAt" property="createdAt"/>
        <result column="articleUpdatedAt" property="updatedAt"/>
        <result column="viewCount" property="viewCount"/>
        <result column="commentCount" property="commentCount"/>
        <result column="upvoteCount" property="upvoteCount"/>


        <association property="contents" javaType="ArticleContentInfo">
            <result column="title" property="title"/>
            <result column="body" property="body"/>
        </association>

        <association property="author" javaType="ArticleAuthor">
            <id column="writerId" property="id"/>
            <result column="nickname" property="nickname"/>
            <result column="profileImagePath" property="profileImagePath"/>
            <result column="memberCreatedAt" property="createdAt"/>
            <result column="memberUpdatedAt" property="updatedAt"/>
        </association>

        <collection property="keywords" ofType="ArticleKeywordInfo">
            <id column="keywordId" property="id"/>
            <result column="keywordName" property="name"/>
        </collection>
    </resultMap>


    <resultMap id="ArticleDetailsMap" type="ArticleDetails">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="articleCreatedAt" property="createdAt"/>
        <result column="articleUpdatedAt" property="updatedAt"/>
        <result column="viewCount" property="viewCount"/>
        <result column="commentCount" property="commentCount"/>
        <result column="upvoteCount" property="upvoteCount"/>

        <association property="contents" javaType="ArticleContentInfo">
            <result column="title" property="title"/>
            <result column="body" property="body"/>
        </association>
        <association property="author" javaType="ArticleAuthor">
            <id column="writerId" property="id"/>
            <result column="nickname" property="nickname"/>
            <result column="profileImagePath" property="profileImagePath"/>
            <result column="memberCreatedAt" property="createdAt"/>
            <result column="memberUpdatedAt" property="updatedAt"/>
        </association>
        <collection property="keywords" ofType="ArticleKeywordInfo">
            <id column="keywordId" property="id"/>
            <result column="keywordName" property="name"/>
        </collection>
    </resultMap>

    <resultMap id="ArticleActivityMap" type="ArticleActivity">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="createdAt" property="createdAt"/>
        <result column="updatedAt" property="updatedAt"/>
        <association property="contents" javaType="ArticleContentInfo">
            <result column="title" property="title"/>
            <result column="body" property="body"/>
        </association>
    </resultMap>


</mapper>
