<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.community.storage.db.query.ChatMapper">

    <!--채팅방조회-->
    <select id="findChatListByMemberId" resultMap="ChatSummaryMap">
        SELECT
            c.id as chatId,
            r.id as requesterId,
            r.nickname as requesterNickname,
            s.id as respondentId,
            s.nickname as respondentNickname,
            m.body as lastMessageBody,
            m.created_at as lastMessageCreatedAt,
            c.created_at as chatCreatedAt,
            c.end_at as chatEndAt
        FROM
            chats c
                LEFT JOIN chat_messages m ON m.id = (
                SELECT MAX(id)
                FROM chat_messages m
                WHERE chat_id = c.id
            )
                LEFT JOIN members r ON c.requester_id = r.id
                LEFT JOIN members s ON c.respondent_id = s.id
        WHERE
            c.requester_id = #{memberId}
           OR c.respondent_id = #{memberId}
        ORDER BY c.id
        LIMIT #{size}
  </select>

    <!-- 채팅 메시지 리스트 조회 -->
    <select id="findChatMessageList" resultMap="ChatMessageInfoMap">
        SELECT
            cm.id as messageId,
            cm.chat_id as chatId,
            m.id as senderId,
            m.nickname as senderNickname,
            cm.body,
            cm.created_at as messageCreatedAt,
            cm.message_type as messageType,
            cm.is_read as isRead
        FROM
            chat_messages cm
        LEFT JOIN members m ON cm.sender_id = m.id
        WHERE
            cm.chat_id = #{chatId}
            <if test="cursor != null and cursor != -1">
                AND m.id &lt; #{cursor}
            </if>
        ORDER BY m.id DESC
        LIMIT #{size}
    </select>

    <resultMap id="ChatSummaryMap" type="ChatSummary">
        <id column="chatId" property="id"/>

        <result column="lastMessageBody" property="lastMessage"/>
        <result column="lastMessageCreatedAt" property="lastUpdatedAt"/>

        <association property="period" javaType="ChatDateTimeInfo">
            <result column="chatCreatedAt" property="createdAt"/>
            <result column="chatEndAt" property="endDate"/>
        </association>

        <association property="sender" javaType="Participant">
            <id column="requesterId" property="id"/>
            <result column="requesterNickname" property="nickname"/>
        </association>

        <association property="receiver" javaType="Participant">
            <id column="respondentId" property="id"/>
            <result column="respondentNickname" property="nickname"/>
        </association>
    </resultMap>

    <resultMap id="ChatMessageInfoMap" type="ChatMessageInfo">
        <id column="messageId" property="id"/>

        <result column="chatId" property="chatId"/>
        <result column="body" property="body"/>
        <result column="messageCreatedAt" property="createdAt"/>
        <result column="messageType" property="messageType"/>
        <result column="isRead" property="isRead"/>

        <association property="sender" javaType="Participant">
            <id column="senderId" property="id"/>
            <result column="senderNickname" property="nickname"/>
        </association>
    </resultMap>

</mapper>
